<a href="https://colab.research.google.com/github/sanjay-3129/Python-Tutorial/blob/master/fathima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import re

In [25]:
with open("./conv.txt","r") as conv:
    lines=conv.readlines()
    names=[]
    for l in lines:
        as_list=l.split(':')
        name=as_list[0]
        if name!="\n":
            names.append(name)
    print(names)

['WILL', 'WAYMAR ROYCE', 'WILL', 'GARED', 'ROYCE', 'GARED', 'ROYCE', 'WILL', 'ROYCE', 'ROYCE', 'WILL', 'GARED', 'ROYCE', 'JON', 'JON', 'SEPTA MORDANE', 'SANSA', 'SEPTA MORDANE', 'NED', 'JON', 'ROBB', 'CASSEL', 'NED', 'CATELYN', 'NED', 'CASSEL', 'NED', 'CATELYN', 'NED', 'ROBB', 'NED', 'JON', 'NED', 'JON', 'NED', 'BRAN', 'NED', 'BRAN', 'NED', 'BRAN', 'NED', 'BRAN', 'NED', 'JON', 'THEON', 'NED', 'THEON', 'NED', 'NED', 'ROBB', 'JON', 'JON', 'BRAN', 'CASSEL', 'NED', 'THEON', 'BRAN', 'ROBB', 'THEON', 'BRAN', 'NED', 'JON', 'NED', 'BRAN', 'JON', 'ROBB', 'CERSEI', 'JAIME', 'CERSEI', 'JAIME', 'CERSEI', 'JAIME', 'CATELYN', 'NED', 'CATELYN', 'NED', 'CATELYN', 'NED', 'ROBB', 'THEON', 'ROBB', 'CATELYN', 'BRAN', 'CATELYN', 'BRAN', 'CATELYN', 'NED', 'ROBERT', 'ROBERT', 'CATELYN', 'ROBERT', 'NED', 'ARYA', 'SANSA', 'ROBERT', 'ARYA', 'ROBERT', 'ARYA', 'SANSA', 'NED', 'CATELYN', 'ROBERT', 'CERSEI', 'ROBERT', 'ARYA', 'CERSEI', 'NED', 'ROBERT', 'NED', 'ROBERT', 'NED']

In [26]:
my_set=set(names)
print(my_set)

{'ROBB', 'ARYA', 'JON', 'SEPTA MORDANE', 'CATELYN', 'JAIME', 'ROYCE', 'GARED', 'WAYMAR ROYCE', 'NED', 'THEON', 'CERSEI', 'ROBERT', 'CASSEL', 'WILL', 'SANSA', 'BRAN'}

In [58]:
unique_words_list = [];
for name in my_set: 
  file_name = ""
  # check name & make _ if as space
  _namelist = name.split(' ')
  file_name = "_".join(_namelist) + ".txt"
  dialogue = []
  for l in lines:
    length = len(l)
    sen_list = l.split(':')
    l_name = sen_list[0]
    if name == l_name:  
      d_index=l.index(':')
      d = l[d_index+2 : length].lower();
      res = re.sub(r'[^\w\s]', '', d)   #removing punctuations
      res = re.sub(r'[\n]', '', res)   #removing \n
      d_list = res.split(' ')
      dialogue = dialogue + d_list;
  unique_words=set(dialogue)
  unique_words_list = list(unique_words)
  # print(s)
  with open('d3/'+file_name,'w') as f:
    for nam in unique_words_list:
      f.write(('%s'%nam) + '\n')

In [ ]:
for
  for
    for

# O(n^3)   -----  time complexity

for
  for
  for
# O(n^2)

for
for
#O(n)